#website {
  color: white;
  font-weight: 600;
  padding-top: 3rem;
}

#navbarMenu, #logout {
  color: whitesmoke;
  
}

#pageHead {
  margin: 4rem;
  font-weight: 700;
}



#footer {
  padding-top: 1rem;
}

/* styling for profile.html */
#proTit {
  font-style: italic;
  color: darkblue;
}

#posts {
  margin: auto;
}

#editBtn {
  margin-top: .2rem;
  border: solid black;
}





@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}